USE [WebBanLapTop]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 11/5/2025 12:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[logo_url] [nvarchar](500) NULL,
	[description] [nvarchar](max) NULL,
	[is_top] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 11/5/2025 12:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_checked_out] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_item]    Script Date: 11/5/2025 12:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NULL,
	[price_at_time] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 11/5/2025 12:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 11/5/2025 12:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_item]    Script Date: 11/5/2025 12:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 11/5/2025 12:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stock] [int] NULL,
	[image_url] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[brand_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 11/5/2025 12:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_detail]    Script Date: 11/5/2025 12:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_detail](
	[user_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[zipcode] [nvarchar](20) NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([id], [name], [logo_url], [description], [is_top]) VALUES (1, N'Asus', N'/images/brands/asus.png', N'Thương hiệu laptop gaming nổi tiếng', 1)
INSERT [dbo].[brand] ([id], [name], [logo_url], [description], [is_top]) VALUES (2, N'MSI', N'/images/brands/msi.png', N'Laptop gaming hiệu năng cao', 1)
INSERT [dbo].[brand] ([id], [name], [logo_url], [description], [is_top]) VALUES (3, N'Dell', N'/images/brands/dell.png', N'Thương hiệu doanh nhân, bền bỉ', 1)
SET IDENTITY_INSERT [dbo].[brand] OFF
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([id], [user_id], [created_at], [updated_at], [is_checked_out]) VALUES (10, 2, CAST(N'2025-11-04T12:32:29.647' AS DateTime), CAST(N'2025-11-04T12:32:44.517' AS DateTime), 1)
INSERT [dbo].[cart] ([id], [user_id], [created_at], [updated_at], [is_checked_out]) VALUES (11, 1, CAST(N'2025-11-04T12:34:07.463' AS DateTime), CAST(N'2025-11-04T12:34:24.307' AS DateTime), 1)
INSERT [dbo].[cart] ([id], [user_id], [created_at], [updated_at], [is_checked_out]) VALUES (12, 2, CAST(N'2025-11-04T14:19:40.577' AS DateTime), CAST(N'2025-11-04T14:27:14.533' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [category_name], [created_at], [updated_at]) VALUES (1, N'Gaming Laptop', CAST(N'2025-10-30T15:07:21.410' AS DateTime), CAST(N'2025-10-30T15:07:21.410' AS DateTime))
INSERT [dbo].[category] ([id], [category_name], [created_at], [updated_at]) VALUES (2, N'Ultrabook', CAST(N'2025-10-30T15:07:21.410' AS DateTime), CAST(N'2025-10-30T15:07:21.410' AS DateTime))
INSERT [dbo].[category] ([id], [category_name], [created_at], [updated_at]) VALUES (3, N'Business Laptop', CAST(N'2025-10-30T15:07:21.410' AS DateTime), CAST(N'2025-10-30T15:07:21.410' AS DateTime))
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([id], [user_id], [total_amount], [status], [created_at], [updated_at]) VALUES (13, 2, CAST(5600000.00 AS Decimal(10, 2)), N'pending', CAST(N'2025-11-04T12:32:44.473' AS DateTime), CAST(N'2025-11-04T12:32:44.510' AS DateTime))
INSERT [dbo].[order] ([id], [user_id], [total_amount], [status], [created_at], [updated_at]) VALUES (14, 1, CAST(3000000.00 AS Decimal(10, 2)), N'pending', CAST(N'2025-11-04T12:34:24.277' AS DateTime), CAST(N'2025-11-04T12:43:45.703' AS DateTime))
INSERT [dbo].[order] ([id], [user_id], [total_amount], [status], [created_at], [updated_at]) VALUES (15, 2, CAST(3500000.00 AS Decimal(10, 2)), N'pending', CAST(N'2025-11-04T14:27:14.507' AS DateTime), CAST(N'2025-11-04T14:27:14.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[order] OFF
GO
SET IDENTITY_INSERT [dbo].[order_item] ON 

INSERT [dbo].[order_item] ([id], [order_id], [product_id], [quantity], [price]) VALUES (17, 13, 31, 2, CAST(2800000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_item] ([id], [order_id], [product_id], [quantity], [price]) VALUES (18, 14, 30, 2, CAST(1500000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_item] ([id], [order_id], [product_id], [quantity], [price]) VALUES (19, 15, 28, 1, CAST(2000000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[order_item] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [category_id], [name], [description], [price], [stock], [image_url], [created_at], [updated_at], [brand_id]) VALUES (27, 1, N'Asus ROG Strix G15', N'Laptop gaming hiệu năng cao', CAST(2500000.00 AS Decimal(10, 2)), 10, N'/images/products/thinkpad_x1_carbon.jpg', CAST(N'2025-11-04T11:11:15.150' AS DateTime), CAST(N'2025-11-04T11:22:09.403' AS DateTime), 1)
INSERT [dbo].[product] ([id], [category_id], [name], [description], [price], [stock], [image_url], [created_at], [updated_at], [brand_id]) VALUES (28, 1, N'Asus TUF Gaming F15', N'Laptop gaming bền bỉ, tản nhiệt tốt', CAST(2000000.00 AS Decimal(10, 2)), 11, N'/images/products/thinkpad_x1_carbon.jpg', CAST(N'2025-11-04T11:11:15.150' AS DateTime), CAST(N'2025-11-04T11:22:02.180' AS DateTime), 1)
INSERT [dbo].[product] ([id], [category_id], [name], [description], [price], [stock], [image_url], [created_at], [updated_at], [brand_id]) VALUES (29, 1, N'Asus ZenBook 14', N'Ultrabook mỏng nhẹ, pin lâu', CAST(2100000.00 AS Decimal(10, 2)), 8, N'/images/products/thinkpad_x1_carbon.jpg', CAST(N'2025-11-04T11:11:15.150' AS DateTime), CAST(N'2025-11-04T11:21:53.683' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [username], [password], [email], [role], [created_at], [updated_at]) VALUES (1, N'admin', N'7C222FB2927D828AF22F592134E8932480637C0D', N'admin@example.com', N'admin', CAST(N'2025-10-30T15:07:21.413' AS DateTime), CAST(N'2025-11-01T07:00:31.360' AS DateTime))
INSERT [dbo].[user] ([id], [username], [password], [email], [role], [created_at], [updated_at]) VALUES (2, N'customer', N'7C222FB2927D828AF22F592134E8932480637C0D', N'customer@example.com', N'customer', CAST(N'2025-10-30T15:07:21.413' AS DateTime), CAST(N'2025-11-04T14:36:05.283' AS DateTime))
INSERT [dbo].[user] ([id], [username], [password], [email], [role], [created_at], [updated_at]) VALUES (10, N'a1', N'40BD001563085FC35165329EA1FF5C5ECBDBBEEF', N'a1@gmail.com', N'customer', CAST(N'2025-10-31T13:02:55.717' AS DateTime), CAST(N'2025-10-31T13:02:55.717' AS DateTime))
SET IDENTITY_INSERT [dbo].[user] OFF
GO
INSERT [dbo].[user_detail] ([user_id], [order_id], [address], [zipcode], [payment_method], [created_at], [updated_at]) VALUES (1, 14, N'Sai Gon', N'700000', N'Thẻ tín dụng', CAST(N'2025-11-04T12:34:24.283' AS DateTime), CAST(N'2025-11-04T12:34:24.283' AS DateTime))
INSERT [dbo].[user_detail] ([user_id], [order_id], [address], [zipcode], [payment_method], [created_at], [updated_at]) VALUES (2, 13, N'Sai Gon', N'700000', N'Thẻ tín dụng', CAST(N'2025-11-04T12:32:44.483' AS DateTime), CAST(N'2025-11-04T12:32:44.483' AS DateTime))
INSERT [dbo].[user_detail] ([user_id], [order_id], [address], [zipcode], [payment_method], [created_at], [updated_at]) VALUES (2, 15, N'Sai Gon', N'700000', N'Thẻ tín dụng', CAST(N'2025-11-04T14:27:14.513' AS DateTime), CAST(N'2025-11-04T14:27:14.513' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__AB6E6164D7E6C7A7]    Script Date: 11/5/2025 12:27:40 AM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__F3DBC5723A98C1A3]    Script Date: 11/5/2025 12:27:40 AM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[brand] ADD  DEFAULT ((0)) FOR [is_top]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT ((0)) FOR [is_checked_out]
GO
ALTER TABLE [dbo].[cart_item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[order_item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user_detail] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_detail] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_user]
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD  CONSTRAINT [FK_cartitem_cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart_item] CHECK CONSTRAINT [FK_cartitem_cart]
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD  CONSTRAINT [FK_cartitem_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[cart_item] CHECK CONSTRAINT [FK_cartitem_product]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_user]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK_orderitem_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK_orderitem_order]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK_orderitem_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK_orderitem_product]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_brand]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_category]
GO
ALTER TABLE [dbo].[user_detail]  WITH CHECK ADD  CONSTRAINT [FK_userdetail_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([id])
GO
ALTER TABLE [dbo].[user_detail] CHECK CONSTRAINT [FK_userdetail_order]
GO
ALTER TABLE [dbo].[user_detail]  WITH CHECK ADD  CONSTRAINT [FK_userdetail_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[user_detail] CHECK CONSTRAINT [FK_userdetail_user]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='shipped' OR [status]='paid' OR [status]='pending'))
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD CHECK  (([role]='customer' OR [role]='admin'))
GO
